body{
    padding: 10px;
    background-color:honeydew ;
}
h1{
    color: gold;
    font-size: 60px;
    font-family: 'calibri', sans-serif;
    font-style: italic;
    margin: auto;
}
.kiri p{
    font-family: 'calibri', sans-serif;
    font-size: 60px;
    color: darkblue;
    width: 50%;
}
p{
    font-size: 15px;
}
span{
    color: cadetblue;
}
span:hover{
    color: hotpink;
}
h4{
    display: inline-block;
    margin: auto;
}
h4:hover{
    transform: scale(1.3);
    color: purple;
}

.foto1{
    width: 20%;
}
.foto2{
    width: 30%;
    margin-left: 15px;
}
.foto3{
    width: 20%;
    margin-left: 10px;
    
}
.foto4{
    width: 30%;
    margin-left: 15px;
    
}

img{
    width: 250px;
    height: 150x;
    float: left;
    
}
img:hover{
    transform: scale(1.2);
}
.aku{
    display: flex;
    width: 100%;
}